<h1 class="text-white text-center p-5">PRODUCTOS</h1>

<table class="table table-dark w-75 m-auto">
    <thead>
        <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Decripcion</th>
            <th scope="col">Categoria</th>
            <th scope="col">Imagen</th>
            <th scope="col">Precio</th>
            <th scope="col">Cod.</th>
            <th scope="col">Stock</th>
        </tr>
    </thead>
    <tbody>
        {{#each payload}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.category}}</td>
            <td><img src="{{this.thumnail}}" width="75"/></td>
            <td>${{this.price}}</td>
            <td>{{this.code}}</td>
            <td>{{this.stock}}</td>
        </tr>
        {{/each}}
    </tbody>

</table>

<br>
<nav aria-label="Page navigation example" class="w-100 d-flex flex-column justify-content-center align-items-center">
    <ul class="pagination">
        {{#if pagination.hasPrevPage}}
        <li class="page-item">
            <a class="page-link bg-dark text-info" href="/products{{pagination.prevLink}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">{{pagination.prevPage}}</span>
            </a>
            
        </li>
        {{/if}}
        <li class="page-item"><a class="page-link bg-dark text-info" href="#">{{pagination.page}}</a></li>
        {{#if pagination.hasNextPage}}

        <li class="page-item">
            <a class="page-link bg-dark text-info" href="/products{{pagination.nextLink}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">{{pagination.nextPage}}</span>
            </a>
        </li>
        {{/if}}
    </ul>
    <div class="link bg-dark">
    {{#each links}}
        <a href='{{this.href}}' class='{{this.currentPage}}'>{{this.label}}</a>
    {{/each}}
    </div>
</nav>